
/* To change code block color */
.markup-eYLPri code {
    color: var(--Code-Text-Color);
}
[href*="youtu.be"],
[href*="youtube.com"] {
    color:#c4302b !important;
    font-weight: 700;
}

[href*="twitch.tv"] {
    color:#b700ff !important;
    font-weight: 700;
}
[href*="spotify.com"] {
    color:rgb(19, 185, 4) !important; 
    font-weight: 700;
}
[href*="discord.com/channels/"] {
    color:#7289da !important;
}
[href*="discord.com/channels/"]::before {
    content:'Jump to Message : ';
    font-size:16px;
    font-weight:700;
    color: #603cff;
}
[href*="reddit.com"] {
    color:#e05a0c !important; 
    font-weight: 700;
}
[href*="instagram.com/"]{
    background: -webkit-linear-gradient(80deg, rgb(255, 238, 0), rgb(255, 157, 11), #b700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    
} 
[href*="twitter.com/"]{
    color:#00acee !important;
    font-weight: 700;
}
[href*="betterdiscord.app/"],
[href*="discord.gg/"] {
    color:#7289da !important;
    font-weight: 700;
}
[href*="github.com"]{
    color:#00f0a8 !important;
    font-weight: 700;
}

/* Username Background */
.headerText-2z4IhQ > span::before {
  content: ''; 
  width: calc(100% + 7px); 
  height: 100%;
  border-radius: 5px;
  background-color: #2e2e2e79; 
  opacity: 1; 
  position: absolute; 
  margin-top: 0px; 
 z-index: -1;
  margin-left: -3px;
}
.headerText-2z4IhQ > span {
  margin-left: 3px;
  z-index: 0;
}

.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT{position: static}
.role-2TIOKu .roleCircle-3TFUOr:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

/* Emoji Auto-Fill Animation */
.base-2v-uc0 {
    transition: all 0.5s;
}
.base-2v-uc0:hover {
    transition: all 0s;
    transform: scale(1.02);
}
.spoilerText-27bIiA,
.spoilerText-27bIiA.hidden-3B-Rum {
    background-color: transparent !important;
}

/* blur spoiler text */
.spoilerText-27bIiA.hidden-3B-Rum > .inlineContent-2YnoDy {
    opacity: 1 !important;
    filter: blur(3px);
    pointer-events: unset;
}

/* server list */
.wrapper-1_HaEi {
    background: var(--Server-List-Color);
    left: 0;
    top: 0;
    z-index: 2;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* channel list */
.sidebar-1tnWFu {
    background: var(--Channel-List-Color);
    bottom: 0;
    z-index: 2;
    width: 240px;
    border-radius: 0 !important;
    position: relative;
    overflow: hidden;
}

/*floating user controls*/
.theme-dark .panels-3wFtMD {
    background: #181a1d!important;
    box-shadow: 0 5px 8px #15171a;
    border-radius: 12px;

    bottom: 0;
    left: 0;
    right: 0;
}
.left-chat-bubble{
    display: inline-block;
    background-color:gray;
    padding:10px;
    border-radius:40px;
    max-width:300px;
 }
.container-ZMc96U.themed-Hp1KC_ .toolbar-3_r2xA{
    height: 100%;
    border-radius: 5px;
    background-color: var(--Searchbar-Color);

}
.title-31SJ6t{
    padding: 10px;
    height: 60px;
}
.container-2o3qEW {
    background-color: var(--Memberlist-Color);
    border-radius: 5px;

}
.chat-2ZfjoI {
    background-color: var(--Chatbox-Color);
}

.root-22AK9z {
    background-color: var(--Call-Color);
}
.container-ZMc96U.themed-Hp1KC_.title-31SJ6t {
    background-color: var(--DM-Userbar-Color);
}


.groupStart-3Mlgv1.cozyMessage-1DWF9U>.contents-2MsGLg,
.cozyMessage-1DWF9U:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--chat-bubble) * 1px);
    max-width: calc(100% - ((100% - var(--chat-bubble-max-width)) * var(--chat-bubble)));
    width: fit-content;
    margin: 0;
    padding: calc(7px * var(--chat-bubble)) calc(12px * var(--chat-bubble));
    border-radius: calc(var(--chat-bubble-border-radius) * var(--chat-bubble));
    border: calc(var(--Chat-Bubble-Outline-Width) * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset) * var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur) * var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a) * var(--chat-bubble)));
}

.cozyMessage-1DWF9U.automodMessage-265YwJ:before,
.cozyMessage-1DWF9U.ephemeral-2nDdnn:before,
.cozyMessage-1DWF9U.mentioned-Tre-dv:before,
.cozyMessage-1DWF9U.replying-eZ7p5z:before {
    width: calc(2px - (var(--chat-bubble) * 2px));
}

.groupStart-3Mlgv1.cozyMessage-1DWF9U.mentioned-Tre-dv .contents-2MsGLg,
.cozyMessage-1DWF9U.mentioned-Tre-dv:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--info-warning-foreground);
}

.cozyMessage-1DWF9U.mentioned-Tre-dv {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

.groupStart-3Mlgv1.cozyMessage-1DWF9U.replying-eZ7p5z .contents-2MsGLg,
.cozyMessage-1DWF9U.replying-eZ7p5z:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *),
.groupStart-3Mlgv1.cozyMessage-1DWF9U.ephemeral-2nDdnn .contents-2MsGLg,
.cozyMessage-1DWF9U.ephemeral-2nDdnn:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--brand-experiment);
}

.cozyMessage-1DWF9U.replying-eZ7p5z,
.cozyMessage-1DWF9U.ephemeral-2nDdnn {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

.groupStart-3Mlgv1.cozyMessage-1DWF9U.automodMessage-265YwJ .contents-2MsGLg,
.cozyMessage-1DWF9U.automodMessage-265YwJ:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--text-danger);
}

.cozyMessage-1DWF9U.automodMessage-265YwJ {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

.groupStart-3Mlgv1.cozyMessage-1DWF9U.automodMessage-265YwJ:hover .contents-2MsGLg,
.cozyMessage-1DWF9U.automodMessage-265YwJ:not(.groupStart-3Mlgv1):hover .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--text-danger);
}

.cozyMessage-1DWF9U.automodMessage-265YwJ:hover {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

.groupStart-3Mlgv1.cozyMessage-1DWF9U>.contents-2MsGLg .markup-eYLPri code,
.cozyMessage-1DWF9U:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) code {
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    background-color: var(--background-secondary);
    background-size: calc(var(--chat-bubble) * 1px);
}

.markup-eYLPri blockquote, .markup-eYLPri pre {
    max-width: 100%;
}
